.li{
 display: inline-block;
 margin-left: 140px;
}
.x{
  text-align: right;
  margin-top: -20px;
}
.menu{
    text-align: right;
    margin-top: auto;
}
.footer {
  background-color: rgb(111, 3, 141);
  color: #fff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.img{
  margin-left: 300px;
}